.img1 { 
	margin-left: 500px;
	height: 200px
	}
	
table, td, th {
	border: 1px solid black;
}
table{
	width:100%;
	border-spacing:0px;

}
td,th{
	padding: 3px;
	width: 30px;
	height: 35px;
}
h1{
	text-align:center;
}